* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f2f6;
    background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
}
 
html {
    height: 100%;
}

#black {
    background-color: #000000;
}

#red {
    background-color: #FF0000;
}

#deepPink {
    background-color: #FF1493;
}

#pink {
    background-color: #FFC0CB;
}

#purple {
    background-color: #800080;
}

#blue {
    background-color: #0000FF;
}

#lightBlue {
    background-color: #00DAFF;
}

#green {
    background-color: #008000;
}

#lightGreen {
    background-color: #98FB98;
}

#orange {
    background-color: #FFC04D;
}

#yellow {
    background-color: #FFFF00;
}

.buttons {
   display: flex;
    flex-direction: crow;
    align-items: stretch;
    justify-content: space-evenly;
}

button {
    
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: baskerville, sans-seriff;
    font-weight: 500;
    font-size: 2.0rem;
    text-align: center;
    transition: all 0.2s;
    color: #FFFFFF;
    margin-top: -6px;
}

#columns {
    margin-left: 1400px;
}

#table {
    margin-left: 150px;
    margin-top: 100px;
}

tr, td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
}

.dropdown {
   margin-left: 750px;
   font-family: baskerville, sans-seriff;
   font-size: 2.0rem;
}




